.app {
  text-align: center;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  color: #a7d129;
  font-size: 18px;
}

body {
  height: 100vh;
  background: #2c2828;
  -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 600px) {
  .transactions {
    font-size: 80%;
  }
}

@media screen and (max-width: 375px) {
  .transactions {
    font-size: 50%;
  }
}

#amount {
  font-weight: 1000;
}

.nav {
  background: #3e432e;
  color: #a7d129;
  border-color: #a7d129;
}

#menu {
  margin: 16px;
  grid-column-start: 1;
  grid-row-end: 3;
}

.hr {
  color: #a7d129
}

i {
  padding: 10px;
}

h1 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 2em;
  color: #a7d129;
  letter-spacing: 3px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(23, 23, 23, 1), 1px 1px 0 rgba(23, 23, 23, 0.9), 1px 1px 0 rgba(23, 23, 23, 0.8), 2px 4px 0 rgba(23, 23, 23, 0.7), 5px 5px 0 rgba(23, 23, 23, 0.6), 6px 6px 0 rgba(23, 23, 23, 0.5), 7px 7px 0 rgba(23, 23, 23, 0.4), 8px 8px 0 rgba(23, 23, 23, 0.3), 9px 9px 0 rgba(23, 23, 23, 0.2), 10px 10px 0 rgba(23, 23, 23, 0.1);
}

h4 {
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 800;
}

.transactions {
  text-align: left;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: #a7d129;
  margin: 15px;
  margin-left: 20px;
  font-weight: 1000;
}

#balance {
  text-align: center;
  font-weight: 1000;
  color: #91bd3a;
}

#trans-title {
  text-decoration: underline;
  text-align: left;
  color: #ff7315;
}

ul {
  list-style: none;
  color: #a7d129;
}

.single-trans {
  padding: 10px;
  display: flex;
}

.dlt-btn {
  background: #2c2828;
  color: #ff7315;
  margin-right: 10px;
  border-radius: 100mm;
  font-weight: 1000;
}

.op-btn {
  background: #2c2828;
  color: #a7d129;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin: 15px;
  margin-left: 20px;
  border-radius: 10% 10px;
  font-weight: 800;
  font-size: 20px;
}

input {
  border-radius: 10px;
  background: none;
  border-color: #a7d129;
  color: #a7d129;
  font-size: 16px;
}